---
import { getCollection, render } from 'astro:content'

import Layout from '@layouts/Blog.astro'

import Figure from '@components/Figure.astro'

import OpenGraph from '@components/OpenGraph.astro'
import { formatDateString } from '@lib/utils';


export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---





<Layout>

  <OpenGraph slot="head"
    title={ post.data.title }
    description={ post.data.summary }
  />

  <header class="blog_article-header full-width">
    <h1>{post.data.title}</h1>
    <p>{ formatDateString(post.data.datePosted) }</p>
    <p>{ post.data.summary }</p>
    <Figure
      src={ post.data.hero.image }
      alt={ post.data.hero.description }
      caption={ post.data.hero.description }
      breakout
    />
  </header>

  <Content />

</Layout>




<style lang="scss" is:global>

  @use '@styles/variables' as *;
  @use '@styles/utils' as *;



  p { text-align: justify; text-align-last: left; }


  .blog_article-header {
    img {
      aspect-ratio: 2/1;
      object-fit: cover; object-position: center;
    }
  }

</style>
