---
import { getCollection, render } from 'astro:content'

import Layout from '@layouts/Default.astro'

import Figure from '@components/Figure.astro'

import OpenGraph from '@components/OpenGraph.astro'
import { formatDateString } from '@lib/utils';


export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---





<Layout>

  <OpenGraph slot="head"
    title={ post.data.title }
    description={ post.data.summary }
  />

  <article class="blog_article">
    <header class="blog_article-header">
      <h1>{post.data.title}</h1>
      <p>{ formatDateString(post.data.datePosted) }</p>
      <p>{ post.data.summary }</p>
      <Figure
        src={ post.data.hero.image }
        alt={ post.data.hero.description }
        caption={ post.data.hero.description }
        layout='breakout'
        context='blog'
      />
    </header>

    <Content />
  </article>

</Layout>




<style lang="scss" is:global>

  @use '@styles/variables' as *;
  @use '@styles/utils' as *;



  .blog_article {
    margin-inline: auto;
    max-width: $blog-max-width;

    p { text-align: justify; text-align-last: left; }


    &-header {
      img {
        aspect-ratio: 2/1;
        object-fit: cover; object-position: center;
      }
    }
  }

</style>
