@use './variables' as *;
@use './utils' as *;


html {
  box-sizing: border-box;
  font-size: 62.5%;
}




:focus {
  outline-color: var(--secondary);
}




img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

figure {
  @include reset-spacing;
}
