---
import { company } from "@data/company"

import Layout from '@layouts/Default.astro'

import OpenGraph from '@components/OpenGraph.astro'
---





<Layout>

  <OpenGraph slot="head"
    title="Start"
    description={ company.blurb }
  />

  <main>
    ( ◡̀_◡́)ᕤ
  </main>

</Layout>





<style lang="scss">

  @use '@styles/variables' as *;
  @use '@styles/utils' as *;



  main {
    display: grid;
    place-items: center;
    height: 100%;
    font-size: font-size(5x);
  }

</style>
