---
import { Icon } from 'astro-icon/components';

//import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="group copyright">
    <Icon name="ph:copyright" size="1.2em" />
    unicepta Krisenkommunikation und Akzeptanzmanagement GmbH
  </div>
  <p class="links">
    <a href="/impressum">Impressum</a>
    <a href="/datenschutz">Datenschutz</a>
    <a href="https://www.linkedin.com/company/98948495">
      <Icon name="ph:linkedin-logo" size="1.4em"/>
    </a>
    <a href="https://bsky.app/profile/unicepta.net">
      <Icon name="ph:butterfly" size="1.4em"/>
    </a>
  </p>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer a {
    color: var(--gray-400);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .links {
      justify-content: flex-end;
    }
  }
</style>
