---
interface Props {
  href: string
  external?: boolean
  muted?: boolean
  tabindex?: number
}

const { href, muted = false, tabindex = 0 } = Astro.props
---





<a href={href} tabindex={tabindex} class:list={[{
  'muted': muted == true
}]}>
  <slot /></a>





<style lang="scss">

  a {
    color: var(--primary);
    text-decoration: none;
    transition: color 250ms ease-in-out;

    &:hover,
    &:focus {
      color: var(--primary-shade);
      text-decoration: underline;
    }


    &.muted {
      color: currentColor;
    }

  }

</style>
