---
import '@styles/global.scss'
---





<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="darkreader-lock" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <slot name="head" />
  </head>
  <body class="content-grid">
    <slot />
  </body>
</html>





<style lang="scss" is:global>

  @use "@styles/variables" as *;
  @use "@styles/utils" as *;



  body {
    @include grid($gap: var(--body-padding)) {
      grid-template-rows: auto 1fr auto;
    };
    @include reset-spacing;
    min-height: 100vh;
    background-color: var(--background);
    container-type: inline-size;
  }



  .content-grid,
  .full-width {
    --_body-inline-padding: #{$body-inline-padding};
    --_content-max-width: #{$content-max-width};
    --_breakout-max-width: #{$breakout-max-width};

    @include grid($gap: 0) {
      grid-template-columns:
        [full-width-start]
        minmax(var(--_body-inline-padding), 1fr)
        [breakout-start]
        minmax(0, calc((var(--_breakout-max-width) - var(--_content-max-width)) / 2))
        [content-start]
        min(100% - (var(--_body-inline-padding) * 2), var(--_content-max-width))
        [content-end]
        minmax(0, calc((var(--_breakout-max-width) - var(--_content-max-width)) / 2))
        [breakout-end]
        minmax(var(--_body-inline-padding), 1fr)
        [full-width-end];
      grid-template-rows: auto 1fr auto;
    }


    > :not(.breakout, .full-width),
    > .full-width:not(.breakout, .full-width) {
      grid-column: content;
    }


    > .breakout {
      grid-column: breakout;
    }


    > .content-grid,
    > .full-width {
      grid-column: full-width;
    }
  }

</style>
