---
import Header from './partials/Header.astro'
import Footer from './partials/Footer.astro'

import Skeleton from "./_Skeleton.astro"
---



<Skeleton>

  {/* This line propagates the OpenGraph data to the Skeleton's <head> */}
  <slot name="head" slot="head" />

  <Header />
  <div id="site_content">
    <slot />
  </div>
  <Footer />

</Skeleton>
