---
import Header from './partials/_Header.astro'
import Footer from './partials/_Footer.astro'

import Skeleton from "./_Skeleton.astro"
---



<Skeleton>

  {/* This line propagates the OpenGraph data to the Skeleton's <head> */}
  <slot name="head" slot="head" />

  <Header />
  <div id="site_content">
    <slot />
  </div>
  <Footer />

</Skeleton>


<style lang="scss">

  @use '@styles/variables' as *;
  @use '@styles/utils' as *;


  #site_content {
    container-type: inline-size;
    margin-block: space(md);
    block-size: 100%;
  }

</style>
