---
import Header from './partials/Header.astro';
import Footer from './partials/Footer.astro';
---



<!doctype html>
<html lang="de">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="head" />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>

</html>





<style lang="scss" is:global>

  @use "@styles/palette";
  @use "@styles/scaffolding";
  @use "@styles/typography";

  @use "@styles/utils" as *;



  body {
    @include grid($gap: var(--body-padding)) {
      grid-template-rows: auto 1fr auto;
    };
    @include reset-spacing;
    padding: var(--body-padding);
    min-height: 100vh;
    background-color: var(--background);
    container-type: inline-size;


    > * { padding-inline: var(--calc-body-padding); }
  }

</style>
